.room-new-area {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
}
.room-new-content {
  height: 100px;
  background-color: #fff;
  margin: 0 auto;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  display: flex;
  padding: 10px;
}
.room-new-content-left {
  width: 240px;
  display: flex;
  padding: 17px;
}
.room-label-red {
  font-size: 14px;
  height: 24px;
  background-color: red;
  color: #fff;
  border-radius: 6px;
  padding: 2px;
  margin-left: 10px;
}
.room-new-content-right {
  padding: 10px;
  margin-left: 50px;
  width: 100%;
}
.room-new-content-right input {
  border: 1px solid silver;
  width: 100%;
}
.room-new-content-right textarea {
  border: 1px solid silver;
  width: 100%;
  height: 100%;
}
.room-create-button {
  border: solid 1px;
  background-color: rgb(4, 240, 142);
  text-align: center;
  padding: 6px;
  width: 160px;
  margin: 20px;
}
.room-create-button input {
  width: 100%;
}